body{
    background-color: #330303;
}
*{
    box-sizing: border-box;
}

img{

    height:auto;
    width:200px;
    display: block;
    padding:10px;
}

/* .flex-column{

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    

} */
/* .flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
} */


.top{
    background-color: #794c4c;
    display:flex;
    flex-wrap:wrap;
    color: #f9ebeb;
    padding: 30px;

    
}
.middle{
    display:flex;
    flex-wrap:wrap;
    padding: 0 4px;
    /* align-self: center;
    flex-grow: 7; */
}
.end{
    color: antiquewhite;
    background-color: #441414;
    
    display:flex;
    flex-wrap:wrap;
    padding: 0 4px;
}

/*
formatting top elements
*/
h2{
    flex:70%
}
.fa{
    flex:20%;
   
}

#itemsInCart{
    
    flex:10%

    
}

/*
formatting middle elements
*/

#category{
   flex:10%;
   padding:30px;
   background-color: #794c4c;
}

#imageDisplay{
    flex:20%;
    padding:20px;
    
    background-color: #c38a8a;

}
#description{
    padding:50px;
   flex:50%;
   background-color: #bb8f8f;
   color: #f7efe4;
  
}

#quantity{
display:none;
}
#price{
display: none;
}
#name{
display: none;
}
/*
formatting end elements
*/

.previous{
flex:10%;
}
.pageDropdown{
flex:10%;
}
.next{
flex:10%;
}
#checkOut{
display:none;
}
#subtotal{
display:none;
}
#subtotalPrice{
display:none;
}

/*

formatting other
*/

.clickDisplay{
    display:none;
}


/* #descName{
    position: absolute;
    top: 50%;
}

#descPrice{
position: absolute;
top:50%;
}

#descDesc{
position: absolute;
top:50%;
}  */
#outerDiv{
    padding-top:100px;
    padding-bottom:100px;
}
#descPrice{
    font-weight: bold;
    }


#eachCateg{
    color: #e4e4d8;
    padding:20px;
    text-transform: uppercase;
}


#eachCateg:hover{
    background-color:gray;
    cursor: pointer;
    padding:21px;
    text-transform: uppercase;
}
p.next:hover{
    background-color: #b39191;
}

p.previous:hover{

    background-color: #b39191;
}

#btn{

    height:50px;
    width: 186px;
    text-transform: uppercase;
    cursor:pointer;
    
    color: #060300;
    background-color: #d0a06e;
}

#btn:hover{
    background-color: #a9630c;
}

#btn:active{
    background-color: #9a480e;
    transform: translateY(4px);
   
}