
*{
    box-sizing: border-box;
}

img{

    height:auto;
    width:200px;
    display: block;
    padding:10px;
}

/* .flex-column{

    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    

} */
/* .flex-row{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    
} */


.top{
    background-color: #171616;
    display:flex;
    flex-wrap:wrap;
    color: #dead37;
    padding: 30px;

    
}
.middle{
    display:flex;
    flex-wrap:wrap;
    padding: 0 4px;
    /* align-self: center;
    flex-grow: 7; */
}
.end{
    color: #171616;
    background-color: #dead37;
    font-weight: bold;
    display:flex;
    flex-wrap:wrap;
    padding: 0 4px;
}

/*
formatting top elements
*/
h2{
    flex:70%;
    cursor:pointer;
}
h2:hover{
    color: #6f6b5f;
}
.fa{
    flex:20%;
   cursor: pointer;
}

#itemsInCart{
    
    flex:10%

    
}

/*
formatting middle elements
*/

#category{
   flex:10%;
   padding:30px;
   background-color: #171616;
  
}

#imageDisplay{
    flex:20%;
    padding:20px;
    
   

}
#description{
    padding:50px;
   flex:50%;
   
   
  
}

#quantity{
display:none;

padding-top:100px;
}
#price{
display: none;
flex:20%;
padding:50px;

}
#name{
display: none;
flex:20%;
padding-top: 100px;
}
/*
formatting end elements
*/

.previous{
    
flex:10%;
}
.pageDropdown{
flex:10%;
}
.next{
flex:10%;
}
#checkOut{
display:none;
flex:50%;
padding:20px;
color:#dead37;
background-color: #171616;
}
#btnCheckout{
    padding-left: 300px;
}
#checkOut:hover{
    cursor: pointer;
    background-color: #6f6b5f;
}
#subtotal{
display:none;

}
#subtotalPrice{
display:none;

}

/*

formatting other
*/

.clickDisplay{
    display:none;
}


/* #descName{
    position: absolute;
    top: 50%;
}

#descPrice{
position: absolute;
top:50%;
}

#descDesc{
position: absolute;
top:50%;
}  */
#outerDiv{
    padding-top:100px;
    padding-bottom:100px;
}
#descPrice{
    font-weight: bold;
    color:b
    }
#descName{
    text-transform: uppercase;
}
#descDesc{
    font-style: italic;
}
#eachCateg{
    color: #dead37;
    padding:20px;
    text-transform: uppercase;
}

#eachCateg:hover{
    background-color: #6f6b5f;
    cursor: pointer;
    padding:21px;
    text-transform: uppercase;
}
.next{

    text-align: center;
}
.previous{
    text-align: center;
}
.next:hover{
    cursor:pointer;
    text-transform: uppercase;
}

.previous:hover{
    cursor: pointer;
    text-transform: uppercase;
}

#btn{
    
    font-size: medium;
    height:50px;
    width: 186px;
    text-transform: uppercase;
    cursor:pointer;
    
    color: #171616;
    background-color: #dead37;
}

#btn:hover{
    background-color: #fbdf78;
}

#final{

    display:none;
    padding-left:100px;
    padding-top:200px;
    padding-bottom:200px;
}

#finalP{
    padding-left:100px;
    
    padding-bottom:200px;
    display:none;

}

#finalC{
    padding-left:100px;
    
    
    display:none;
    cursor:pointer;
}

#finalC:hover{

    color:green;
    font-weight:bolder;

}

input{

    height:19px;
    width:40px;
    
}

@media only screen and (max-width: 920px){
    
        #category{
            flex:100%;
        }
    
}

@media only screen and (max-width: 550px){
    
    
    #category{
        flex:100%;
    }
    #imageDisplay{
        flex:1%;
    }
    #description{
        flex:1%;
    }
    #outerDiv{
        width:100px;
        font-size:small;
        padding-top:20px;
        padding-bottom:20px;
    }
    img{

        width:150px;
    }

    #btn{
        height: 30px;
        width:100px;
        font-size:smaller;
    }

}
@media only screen and (max-width: 415px){
    
    
    #category{
        flex:100%;
    }
    #imageDisplay{
        flex:1%;
    }
    #description{
        flex:1%;
    }
    #outerDiv{
        width:100px;
        font-size:smaller;
        padding-top:10px;
        padding-bottom:10px;
    }
    img{

        width:80px;
    }

    #btn{
        height: 20px;
        width:50px;
        font-size:smaller;
    }

}
@media only screen and( max-width: 820px){

    #price{
        flex:1%;
    }
    #name{
        flex:1%;
    }
    #description{
        flex:1%;
    }
}